:root { 
--white_A700_4c:#ffffff4c; 
--purple_A400_00:#cc00ee00; 
--purple_A400_66:#fe0fd466; 
--gray_400:#c8c8c8; 
--orange_400_4c:#ff95324c; 
--blue_gray_100:#d9d9d9; 
--gray_900:#111111; 
--light_blue_700:#0091d7; 
--black_900_0f:#0000000f; 
--black_900_01:#000000; 
--light_blue_700_66:#0091d766; 
--black_900_33:#00000033; 
--black_900:#020308; 
--purple_A700:#8700ff; 
--white_A700_ce:#ffffffce; 
--gray_500_33:#95959533; 
--purple_A400:#fe0fd4; 
--blue_gray_900:#262d41; 
--white_A700:#ffffff; 
--purple_A400_6b:#fe0ed46b; 
--orange_200_35:#eeca8735; 
}